.cardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 10px;
    overflow-wrap: break-word;
    -webkit-box-shadow: 1px 1px 5px -1px #000000; 
    box-shadow: 1px 1px 5px -1px #000000;
    transition: transform 330ms ease-in-out;
}

.cardContainer:hover {
    transform: translateY(-20px);
}

.cardContainer.courseCard {
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);    
}

.cardContainer.cohortCard {
    background-color: #c7e9fb;
    background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%);    
}

.cardContainer.unitCard {
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);    
}

.cardContainer.studentCard {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}

.cardHeader h1 {
    font-family: header;
    color: white;
}

.cardHeader h3 {
    font-family: accent;
    color: snow;
}

